<main class="site-content course-detail-page-wrapper col-xs-10 col-xs-offset-1">

  <br />
  <br />

	<h1><%= @course.title %></h1>
  <%= image_tag @course.image, class: 'img-responsive' %>
	<hr />

	<div class="col-xs-12 col-sm-4 text-center">
		Cost:  <span class="label label-default"><%= number_to_currency @course.cost %></span>

		<% if current_user && current_user == @course.user %>
      <br />
      <br />
      <%= link_to 'Administer', instructor_course_path(@course), class: 'btn btn-primary btn-large' %>
    <% end %>

	</div>
	<div class="col-xs-12 col-sm-8">
		<%= @course.description %>
	</div>

	<div class="col-xs-12">
    <% @course.sections.each do |section| %>
      <div class="section">
      	<hr />
        <h2><%= section.title %></h2>
        <hr />
        <% section.lessons.each do |lesson| %>
          <div class="lesson">
          	<h3><%= link_to lesson.title,lesson_path(lesson) %></h3>
	            <%= lesson.subtitle %>
          </div>
        <% end %>
      </div>
    <% end %>
  </div>

</main>