<main class="site-content course-detail-page-wrapper">

	<h1><%= @course.title %></h1>
  <%= image_tag @course.image, class: 'img-responsive' %>
	<hr />

	<div class="col-xs-12 col-sm-4 text-center">
		<h4>Cost:  <span class="label label-default"><%= number_to_currency @course.cost %></span></h4>

		<% if current_user && current_user == @course.user %>
      <br />
      <br />
      <%= link_to 'Administer', instructor_course_path(@course), class: 'btn btn-primary btn-large' %>
    <% end %>
    <br />
    <br />
    <% if current_user && current_user.enrolled_in?(@course) %>
      <h4><span class="label label-info">You are enrolled!</span></h4>
    <% else %>
      <% if @course.free? %>
        <%= link_to 'Enroll', course_enrollments_path(@course), class: 'btn btn-primary', method: :post %>
      <% else %>
        <%= form_tag course_enrollments_path(@course) do %>
          <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
                  data-key="<%= Rails.configuration.stripe[:publishable_key] %>"
                  data-description="Enroll in <%= @course.title %> (<%= number_to_currency @course.cost %>)"
                  data-amount="<%= (@course.cost * 100).to_i %>"></script>
        <% end %>
      <% end %>
    <% end %>
  </div>

	</div>
	<div class="col-xs-12 col-sm-8">
		<%= @course.description %>
	</div>

	<div class="col-xs-12">
    <% @course.sections.each do |section| %>
      <br />
      <div class="section ">
        <h3><%= section.title %></h3>
        <% section.lessons.rank(:row_order).each do |lesson| %>
          <div class="col-xs-12 col-sm-6">
            <div class="lesson text-center">
              <h4><%= link_to lesson.title, lesson_path(lesson) %></h4>
  	         <%= lesson.subtitle %>
            </div>
          </div>
        <% end %>
        <br class="clr" />
      </div>
    <% end %>
  </div>

</main>